@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: white;
  font-family: "Instrument Sans", Arial, Helvetica, sans-serif;
}
html {
  scroll-behavior: smooth;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} /* Adjust the marquee animation for seamless scrolling */
.animate-marquee-fast {
  animation: marquee 50s linear infinite;
}

.animate-marquee-reverse-fast {
  animation: marquee-reverse 50s linear infinite;
}

@keyframes marquee {
  from {
    transform: translateX(50%);
  }
  to {
    transform: translateX(-50%);
  }
}

@keyframes marquee-reverse {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(50%);
  }
}

/* Media Query for Mobile Devices */
@media (max-width: 768px) {
  .animate-marquee-fast {
    animation-duration: 20s; /* Slower pace for mobile */
  }

  .animate-marquee-reverse-fast {
    animation-duration: 30s; /* Slower pace for mobile */
  }
}
